<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed and designed by Arce Gaxiola Angel Eduardo.</p>
      <div class="footer-icons">
        <a href="" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/EduardoArc3" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="a222212688@unison.mx" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://x.com/EduardoArceG" target="_blank" class="a-green">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
