<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic"></h2>
                <p class="default-p"></p>
                <p>
                    <img src="../../assets/" alt="" class="about-picture">
                </p>
                <p class="default-p"></p>
                <p class="default-p"></p>
                <p class="default-p"></p>
                <p class="default-p"></p>
                <p class="default-p"></p>
                <p>
                    <img src="../../assets/bc02_a.jpg" alt="" class="about-picture">
                </p>
                <p class="default-p"></p>
                <p class="default-p"></p>
                <p>
                    <img src="../../assets/bc03_a.jpeg" alt="" class="about-picture">
                </p>
                <p class="default-p"></p>
                <p class="default-p"></p>
                <p class="default-p"></p>
                <p class="default-p"></p>
            </div>
            <div class="content">
                <div class="content-left">
                    <h2 class="default-topic"></h2>
                    <p class="default-p"></p>
                    <button>
                        <a routerLink="/contact" class="a-green">
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>