<div class="align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/contact.jpeg" alt="Contact Image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                Eduardo Arce
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">SOFTWARE DEVELOPER</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="" target="_blank" class="a-green">
                            <i class="fab fa-linkedin"></i>
                          </a>
                    </div>
                    <div class="media-icon">

                        <a href="https://github.com/EduardoArc3" target="_blank" class="a-green">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="a222212688@unison.mx" class="a-green">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="https://x.com/EduardoArceG" target="_blank" class="a-green">
                        <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>

            <p class="contact-paragraph">
                 <span class="default-highlight">
                </span>.
            </p>
            <button>
                <a href="" target="_blank" class="a-green">
                > DM me on LinkedIn
                </a>
            </button>
        </div>
    </div>
</div>
