<div class="align-items-center default-container">
    <div class="col-lg-8">
      <div class="text-left">
        <h1 class="home-title">Engineering the digital world from end to end.</h1>
        <h2 class="home-author">Eduardo Arce, <span id="dynamic-text">{{ dynamicText }}</span></h2>
        <blockquote>
            I am a Systems Engineering student with a strong foundation in software development. I leverage my coding skills to build accessible, scalable, and high-performance applications. I am passionate about learning new technologies and creating practical solutions that solve real-world problems.
        </blockquote>
        <button>
            <a routerLink="/portfolio"  class="a-green">
                > Check Portfolio
            </a>
        </button>
      </div>
    </div>
  </div>
  